@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;700&display=swap");

:root {
  --primary: hsl(4, 66%, 82%);
  --secondary: hsl(0, 0%, 31%);
  --shadows: hsla(0, 0%, 31%, 0.1);
  --error: hsl(0, 100%, 65%);
  --background: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

/* base styles & title */
body,
html {
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--secondary);
  background-color: var(--background);
}

.App {
  max-width: 960px;
  margin: 24px auto;
  padding-bottom: 64px;
}
